body {
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

header {
    margin-top: 92px;
    margin-bottom: 96px;

    height: 105px;
    width: 1052px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    font-weight: 400;
    font-size: 18px;
}

.header__menu {
    width: 392px;
    height: 22px;
    line-height: 21px;

    margin-left: 25px;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    border-bottom: 1px solid black; /* Сделано через рамку, чтобы текст при случае text-decoration: none не "съедал" подчеркивание */
    letter-spacing: 1%;
    list-style: circle;
}

.header__logo {
    height: 100%;
}

.header__address {
    width: 240px;
    height: 98px;
    line-height: 24px;

    justify-self: end;
    margin-right: 25px;

    font-style: normal;
}

.address__link {
    text-decoration: none;
    border-bottom: 1px solid black; /* Сделано через рамку, чтобы текст при случае text-decoration: none не "съедал" подчеркивание */
}

.cover {
    width: 1100px; /* Убрать потом */
    height: 757px;
    background-color: lightgrey; /* Будет отображен цвет в случае не отображения картинки */
    background-image: url('../images/cover.jpg');
}