body {
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

header {
    height: 105px;
    width: 1052px;

    display: flex;
    align-items: center;
    justify-content: start;

    font-weight: 400;
    font-size: 18px;
}

.header__menu {
    margin-left: 26px;
    margin-right: 36px;

    width: 392px;
    height: 22px;
    line-height: 21px;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    border-bottom: 1px solid black; /* Сделано через рамку, чтобы текст при случае text-decoration: none не "съедал" подчеркивание */
    letter-spacing: 1%;
    list-style: circle;
}

.header__logo {
    margin-right: 184px;

    height: 100%;
}

.header__address {
    width: 240px;
    height: 98px;
    line-height: 24px;

    font-style: normal;
}

.address__link {
    text-decoration: none;
    border-bottom: 1px solid black; /* Сделано через рамку, чтобы текст при случае text-decoration: none не "съедал" подчеркивание */
}